
@page "/Bob/Bunny"
<h3>Component1</h3>

@code {
    //Tuple<string, int>[] B = { new Tuple<string, int>("Wizard", 2) };
    //Character Bunny = new Character(B);
    //Spell fireball = new Spell() { Name = "Fireball", Level = 3, Range = "150 feet", Target = "tile", Components = "V S M", Duration = "instant", Description = "Creatures in a 20ft radius  must make Dex save, on save 1/2 damage", Damage = "8d6 + 1d6(per upcast level)" };
    }

