@page "/"

@if (hasLoggedIn)
    {
        <Spellbook.Components.CharacterSelector/>
    }
    else
    {
        <div class="welcome-login">
            <div>
            <h1>Welcome!</h1>
            <h2>Login or Sign Up Below</h2>
            </div>
            <Spellbook.Components.LogInSignUp/>
        </div>
    }

@code {
 bool hasLoggedIn = false;
}



