main {
    grid-row:2/12;
}
article{
    height: 100%;
}
.page {
    display: grid;
    grid-template-rows: repeat(12,1fr);

    height: 100vh;
}


@media (max-width: 640.98px) {
  
}

@media (min-width: 641px) {
   
}

